@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form name="frm" method="post">
    <input type="text" name="name" value="Vijay" /> <br />
    <input type="submit" name="btn" value="Submit" />
</form>